[run]
branch = True
source =
    pam
omit =
    pam/conftest.py
    pam/pam.py
    venv/

[tool:pytest]
addopts = --cov=pam --cov-report=html

[report]
skip_empty = True
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[html]
directory = htmlcov
